<% @admins.each do |admin|%>
<div class="d-md-flex flex-md-equal w-100 my-md-2 pl-md-3">
  <div class="bg-dark mr-md-3 pt-1 px-3 pt-md-1 px-md-5 text-center text-white overflow-hidden border border-secondary">
        <div class="my-3 py-3">
          <h2 class="display-5 p-2 bg-success border border-secondary rounded"><%=admin.facility_name%></h2>
          <p><%=admin.introduction1%></p>
        </div>
        <div>
           <p class="bg-secondary">価格：　<%=@lowest_price%>　円〜</p>
          <%=image_tag admin.avator.variant(resize: "320x 400")%> 
        </div>
      <div class="result-content pt-2"><%=link_to "施設の詳細を見る　>>", admin_path(admin.id), class: "btn btn-info" %></div>
  </div>
</div>
<%end%>
      <%= paginate @admins%>
  
<section class="back-to">
    <%=link_to "前のページに戻る", :back, class: "btn btn-success" %>
</section>