
<% if current_admin == @admin%>

<div class="ammin-profile mx-3">
  
  <div class="admin-profile-top">
      <% if @admin.avator.attached? %>
      <%=image_tag @admin.avator.variant(resize: "400x300")%>
      <%else%>
     <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="_x32_" x="0px" y="0px" viewBox="0 0 512 512" style="width: 256px; height: 256px; opacity: 1;" xml:space="preserve"><style type="text/css">.st0{fill:#4B4B4B;}</style><g><path class="st0" d="M378.402,0H133.58C86.231,0,47.697,38.543,47.697,85.892v340.233c0,47.35,38.534,85.875,85.883,85.875h205.698   h13.175l9.327-9.292l93.222-93.24l9.301-9.31v-13.166v-301.1C464.303,38.543,425.769,0,378.402,0z M432.508,386.992H384.36   c-24.89,0-45.082,20.184-45.082,45.074v48.131H133.58c-29.867,0-54.08-24.213-54.08-54.072V85.892   c0-29.876,24.213-54.088,54.08-54.088h244.822c29.876,0,54.106,24.213,54.106,54.088V386.992z"/><path class="st0" d="M297.613,278.398c-11.812,8.268-26.15,13.132-41.613,13.132c-15.472,0-29.811-4.864-41.617-13.132   c-20.644,8.858-33.319,24.456-41.057,38.213c-10.27,18.255-2.219,44.084,15.541,44.084c17.76,0,67.134,0,67.134,0   s49.368,0,67.128,0c17.76,0,25.815-25.828,15.542-44.084C330.932,302.854,318.253,287.256,297.613,278.398z"/><path class="st0" d="M256,274.246c30.322,0,54.896-24.56,54.896-54.888V206.21c0-30.327-24.574-54.905-54.896-54.905   c-30.328,0-54.905,24.578-54.905,54.905v13.148C201.095,249.686,225.673,274.246,256,274.246z"/></g></svg>
      <%end%>
      <hr>
      <h1><%=current_admin.admins_name %>  様のトップページ</h1>
  </div>
  <div class="card-deck mt-5 mb-3 text-center">
      <div class="card mb-4 box-shadow">
          <div class="card-header bg-info">
            <h4 class="my-0 font-weight-normal">商品作成状況</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title"><span style="border-bottom:1px solid;"><%=@count_packages%></span>つの商品パッケージを作成しております。</h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li>＊最大5つまで商品を作成することができます。</li>
              <li>＊商品パッケージを作成する際は、必ず商品画像を登録してください。（最大３枚まで）</li>
              <li>＊施設様のプロフィール写真の登録は必須です。</li>
            </ul>
            <h4 style="color:#FF0000;">商品の在庫状況は<%=link_to "こちら", stock_list_packages_path, data: {"turbolinks" => false}%></h4>
          </div>
      </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header bg-success">
            <h4 class="my-0 font-weight-normal">予約状況</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">現在 <%=@count_reservations%>件の予約があります。<br>（未来分のみ）</h1>
            <h2 class="card-title pricing-card-title"><i class="far fa-grin-stars fa-lg"></i>「行ってみたい！」の数<span style="border-bottom:1px solid;"><%=@count_likes%></span>  個</h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li></li>
              <li>＊予約は予約一覧画面にて詳細をご確認ください。</li>
              <li>＊お問い合わせ画面に、施設様のメールアドレスとお電話番号は自動で表示されることになります。</li>
              <li>＊施設情報には、休日情報等をお載せください。</li>
             <li><%= link_to "予約一覧を確認する", adminside_index_reservations_path, class: "btn btn-lg btn-block btn-primary mt-3"%></li>
            </ul>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header bg-warning">
            <h4 class="my-0 font-weight-normal">お知らせ</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">お知らせ <%=@count_notifications%> 件</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>＊新規予約時、または「行ってみたい」・コメント登録がされた場合に通知が届きます。</li>
              <li>＊行ってみたい・コメントはあくまでお客様個人の感想になります。</li>
              <li>＊コメントの削除・管理はベーシックコースだとご利用いただけません。</li>
             <li style="top:0;"><%= link_to "お知らせを確認する", notifications_path , class: "btn btn-lg btn-block btn-primary mt-3"%></li>
            </ul>
          </div>
      
        </div>
  
  </div>
</div>
<% else %>

<main class="admin-profile mx-5" role="main" style="color:#fff;">
   
  
  <div>
        <% unless @admin.avator.attached? %>
       <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="_x32_" x="0px" y="0px" viewBox="0 0 512 512" style="width: 256px; height: 256px; opacity: 1;" xml:space="preserve"><style type="text/css">.st0{fill:#4B4B4B;}</style><g><path class="st0" d="M378.402,0H133.58C86.231,0,47.697,38.543,47.697,85.892v340.233c0,47.35,38.534,85.875,85.883,85.875h205.698   h13.175l9.327-9.292l93.222-93.24l9.301-9.31v-13.166v-301.1C464.303,38.543,425.769,0,378.402,0z M432.508,386.992H384.36   c-24.89,0-45.082,20.184-45.082,45.074v48.131H133.58c-29.867,0-54.08-24.213-54.08-54.072V85.892   c0-29.876,24.213-54.088,54.08-54.088h244.822c29.876,0,54.106,24.213,54.106,54.088V386.992z"/><path class="st0" d="M297.613,278.398c-11.812,8.268-26.15,13.132-41.613,13.132c-15.472,0-29.811-4.864-41.617-13.132   c-20.644,8.858-33.319,24.456-41.057,38.213c-10.27,18.255-2.219,44.084,15.541,44.084c17.76,0,67.134,0,67.134,0   s49.368,0,67.128,0c17.76,0,25.815-25.828,15.542-44.084C330.932,302.854,318.253,287.256,297.613,278.398z"/><path class="st0" d="M256,274.246c30.322,0,54.896-24.56,54.896-54.888V206.21c0-30.327-24.574-54.905-54.896-54.905   c-30.328,0-54.905,24.578-54.905,54.905v13.148C201.095,249.686,225.673,274.246,256,274.246z"/></g></svg>
        <%else%>
        <%=image_tag @admin.avator.variant(resize: "800x700"), class: "admin-image"%>
        <%end%>
  </div>
  
      
       <h1 class="mt-5 p-3 col-sm-6 text-center border border-primary text-dark" style="opacity:30; background-color:#F5F5F5;"><i class="fas fa-store-alt"></i> <%=@admin.facility_name %>  <br>の施設情報</h1>
       <hr>
       <p class="lead"><i class="far fa-grin-stars fa-lg mr-3"></i><%=@count_likes%>  行ってみたい！</p>
        <!-- Example row of columns -->
        <div class="row border border-primary">
            <button class="about-us-btn col-md-2 card-header bg-secondary"><h4 class="text-white" style="font-family:century;">About us <i class="far fa-hand-pointer"></i></h4></button>
            <div class="about-us col-md-4 card-body bg-dark"><p class="about-us-text"><%=@admin.introduction1%></p></div>
            <button class="about-us-btn col-md-2 card-header bg-secondary"><h4 class="text-white" style="font-family:century;">About us <i class="far fa-hand-pointer"></i></h4></button>
            <div class="about-us col-md-4 card-body bg-dark"><p class="about-us-text"><%=@admin.introduction2%></p></div>
        </div>
        
        <hr>
        
   <div class="col-sm-9 mt-5">
            
       <table class="table-introduction text-center">
         <tr>
           <th><i class="fas fa-home"></i> 会社名</th>
             <td><%= @admin.facility_name%></td>
         </tr>
         <tr>
           <th><i class="fas fa-door-open"></i> OPEN　時間</th>
            <td><%= @admin.open.to_s(:time_jp)%></td>
         </tr>
         <tr>
          <th><i class="fas fa-door-closed"></i> CLOSE 時間</th>
           <td><%=@admin.close.to_s(:time_jp)%></td>
         </tr>
         <tr>
        <th><i class="fas fa-store-alt"></i> 施設所在地</th>
          <td><%=@admin.prefecture_name + @admin.cityname + @admin.homeadress%></td>
         </tr>         <tr>
        <th><i class="fas fa-phone-square-alt"></i> 電話番号</th>
          <td><%=@admin.phone%></td>
         </tr>
      </table>
   </div>
   <% if current_user%>
     <div class="mt-3 pt-1 pr-5" id="like_form_show"><%=render "likes/like_button", admin: @admin%></div>
     <%end%>
     
          <div class="p-5 col-md-4">
           <%=link_to "この施設の商品を見てみる »", packs_index_admin_path(@admin.id), class: "btn btn-outline-info bg-white" %> 
          </div>
          
<%=link_to "前のページに戻る", :back%>

</main>
<% end %>


