    <section class="jumbotron text-center box-shadow bg-link" style="font-family: Hiragino Sans;">
        
          <h1 class="jumbotron-heading"><i class="far fa-address-card fa-4x"></i><br> 施設プロフィール情報を入力してください。</h1>
          <p class="lead text-muted">こちらに記載された情報は、ユーザー側のページに表示されます。</p>
    </section>
  <div class="bg-dark p-2 border border-link mx-auto">
    <%=form_with(model: current_admin, url: profile_update_path, method: :patch ) do |f| %>
    <%= render "layouts/error_messages", model: current_admin %>

    <div class="edit-profile" style="color: #fff;">
      <%=f.label :facility_name, "＊  施設の名称を入力してください。" %><br>
      <%=f.text_field :facility_name, autofocus: true, autocomplete: "facility-name", class: "ef" %>
    </div>
  
    <div class="edit-profile" style="color: #fff;">
      <%=f.label :prefecture_name, "＊施設所在の都道府県を選択してください。" %><br>
      <%=f.select :prefecture_name, [['北海道'], ['青森県'], ['岩手県'],['宮城県'], ['秋田県'], ['山形県'], ['福島県'], ['茨城県'], ['栃木県'],
      ['群馬県'], ['埼玉県'], ['千葉県'], ['東京都'], ['神奈川県'], ['新潟県'], ['富山県'], ['石川県'], ['福井県'], ['山梨県'], ['長野県'], ['岐阜県'],
      ['静岡県'], ['愛知県'], ['三重県'], ['滋賀県'], ['京都府'], ['大阪府'],['兵庫県'], ['奈良県'], ['和歌山県'],['鳥取県'], ['島根県'], ['岡山県'],
      ['広島県'], ['山口県'], ['徳島県'],['香川県'], ['愛媛県'], ['高知県'],['福岡県'], ['佐賀県'], ['長崎県'],['熊本県'], ['大分県'], ['宮崎県'],
      ['鹿児島県'], ['沖縄県']], prompt: "都道府県を選択してください", autofocus: true, autocomplete: "prefecture_name", class: "ef"%> <br>
      <%=f.label :cityname, "  施設所在の市町村を記載してください。" %> <i>（例：札幌市）</i><br>
      <%=f.text_field :cityname, autofocus: true, autocomplete: "cityname", class: "ef"%>
      <%=f.label :homeadress, "  施設所在の続きを記載してください。" %> <br>
      <%=f.text_field :homeadress, autofocus: true, autocomplete: "homeadress", class: "ef" %>
    </div>
  
    <div class="edit-profile" style="color: #fff;">
      <%=f.label :phone, "＊施設の電話番号を入力してください。" %><br>
      <%=f.text_field :phone, autofocus: true, autocomplete: "phone", class: "ef" %>
    </div>
     <div class="edit-profile" style="color: #fff;">
      <%=f.label :open, "＊施設のオープン時間を入力してください。" %><br>
      <%=f.time_select :open, {:include_blank => true, :minute_step => 30}, autofocus: true, autocomplete: "open", class: "ef col-sm-1 bg-dark border border-light" %>
    </div>
    
    <div class="edit-profile" style="color: #fff;">
      <%=f.label :close, "＊施設のクローズ時間を入力してください。" %><br>
      <%=f.time_select :close, {:include_blank => true, :minute_step => 30}, autofocus: true, autocomplete: "close", class: "ef col-sm-1 bg-dark border border-light" %>
    </div>
    
    <div class="edit-profile" style="color: #fff;">
      <%=f.label :supplementary_info, "＊施設の概要を記載してください。" %><br>
      <%=f.text_area :supplementary_info, autofocus: true, autocomplete: "supplementary_info", class: "ef" %>
    </div>
    
    <div class="edit-profile">
      <%= f.label :introduction1, "＊施設の概要、紹介文を記載ください。（その１）" %><br />
      <%= f.text_area :introduction1, autofocus: true, autocomplete: "introduction1", class: "ef" %>
    </div>
  
    <div class="edit-profile">
      <%= f.label :introduction2, "＊施設の概要、紹介文を記載ください。（その２）" %><br />
      <%= f.text_area :introduction2, autofocus: true, autocomplete: "introduction2", class: "ef" %>
    </div>
    
    <div class="edit-profile">
      <%= f.label :admins_category, "＊施設に該当するジャンルを選択してください。" %><br />
      <%= f.select :admins_category, [ ["ふらっと観光", "ふらっと観光"], ["ガッツリ観光", "ガッツリ観光"], ["体験・伝統産業", "体験・伝統産業"], ["地域グルメ", "地域グルメ"], ["お酒","お酒"], ["その他","その他"]], autofocus: true, autocomplete: "admins-category", prompt: "施設のカテゴリを選択してください", class: "ef" %>
    </div>
    
     <div class="edit-profile" style="color: #fff;">
      <%=f.label :avator, "＊施設の写真を掲載できます。" %><br>
      <%=f.file_field :avator, direct_upload: true, class: "bg-dark"%>
    </div>

    
    <div class="actions">
      <%= f.submit "プロフィール内容を変更する。" , class: "btn btn-outline-info" %>
    </div>
</div>
    <% end %>

    
    <ul class="pt-5 list-unstyled">
      <li><%= link_to "登録Eメール・パスワードの変更", edit_admin_registration_path %></li>
      <li><%= link_to "前のページに戻る", :back %></li>
    </ul>
