  <% @reservations.each do |reservation|%>
  <%if reservation.start_date.present? && reservation.start_date.future? %>
     <div class="card bg-light mb-3">
        <div class="card-header d-flex">
           <p>予約日時： <%=reservation.start_date.to_s(:datetime_jp)%> ~ <%=reservation.end_date.to_s(:datetime_jp)%></p>
           <%if reservation.paid == true%>
           <p class="pay-t card-text ml-auto"> お支払済です</p><i class="pay-icon far fa-check-circle fa-lg pl-1"></i> 
           <%else%>
           <p class="pay-t card-text ml-auto"> お支払手続きを完了してください</p><i class="pay-icon fas fa-credit-card fa-lg pl-1" style="color:#FF0000;"></i>
           <%end%>
        </div>
         <div class="card-body d-flex justify-content-around">
         <ul class="list-unstyled">
             <li><h5 class="text-dark"><%=reservation.package.package_name%></h5></li>
             <li><p class="card-text"><%=link_to "詳細を確認する", reservation_path(reservation.id), class: "btn btn-primary mb-0 p-0"%></p></li>
             <li><p class="card-text"><%=link_to "この予約をキャンセルする", reservation_path(reservation.id), method: :delete, data: { confirm: 'よろしいですか？' }, class: "btn btn-danger mb-0 p-0" %></p></li>
             <li><p class="card-text text-muted" style="font-weight:bold;">予約料金/名：<%=number_to_currency(reservation.package.price.to_i, :unit => "￥", precision: 4, strip_insignificant_zeros: true)%>  円</p></li>
         </ul>
        <div>
             <% if reservation.package.images == nil %>
             <%= image_tag "/assets/default_post.png", class: "image-style-package card-img-right flex-auto d-none d-md-block" %>
             <% else %>         
             <%= image_tag reservation.package.images[0].variant(resize: '250x250'), class: "card-img-right pl-2 flex-auto d-md-block"%> 
             <% end %>
        </div>
       </div>
     </div>
    <% end %>
<% end %>



