    <% @past_reservations.each do |past_reservation|%>
     <div class="card card-slidein bg-light mb-3">
        <div class="card-header">予約日時： <%=past_reservation.start_date.to_s(:datetime_jp)%> ~ <%=past_reservation.end_date.to_s(:datetime_jp)%></div>
         <div class="card-body d-flex justify-content-around">
          <ul class="list-unstyled">
             <li><h5 class="text-dark"><%=past_reservation.package.package_name%></h5></li>
             <li><p class="card-text"><%=link_to "詳細を確認する", reservation_path(past_reservation.id) %></p></li>
             <li><p class="card-text"><%=link_to "この商品にコメントする", new_package_comment_path(past_reservation.package.id) ,data: {"turbolinks" => false}%></p></li>
             <li><p class="card-text text-muted" style="font-weight:bold;">予約料金/名：<%=number_to_currency(past_reservation.package.price.to_i,  :unit => "￥", precision: 4, strip_insignificant_zeros: true)%>円</p></li>
         </ul>
         <section> 
             <% if past_reservation.package.images == nil %>
             <%= image_tag "/assets/default_post.png", class: "image-style-package flex-auto d-none d-md-block" %>
             <% else %>         
             <%= image_tag past_reservation.package.images[0].variant(resize: '250x250'), class: "card-img-right flex-auto d-none d-md-block"%> 
             <% end %>
          </section>
        </div>
       </div>
  <% end %>

