    <% @past_reservations.each do |past_reservation|%>
     <div class="card bg-light mb-3">
        <div class="card-header">予約日時： <%=past_reservation.start_date.to_s(:datetime_jp)%> ~ <%=past_reservation.end_date.to_s(:datetime_jp)%></div>
         <div class="card-body d-flex justify-content-around">
         <h5 class="card-title">商品名：<%=past_reservation.package.package_name%></h5>
         <p class="card-text"><%=link_to "詳細を確認する", reservation_path(past_reservation.id) %></p>
         <p class="card-text"><%=link_to "この商品にコメントする", new_package_comment_path(past_reservation.package.id) ,data: {"turbolinks" => false}%></p>
         <p class="card-text">予約料金/名：<%=past_reservation.package.price%>円</p>
         <span class="card-image">
             <% if past_reservation.package.images == nil %>
             <%= image_tag "/assets/default_post.png", class: "image-style-package" %>
             <% else %>         
             <%= image_tag past_reservation.package.images[0].variant(resize: '250x250')%> 
             <% end %>
          </span>
        </div>
       </div>
  <% end %>

