
<% if current_admin %>

<div class="col-sm-4 mx-auto border border-primary rounded p-2 bg-light">
    <section class="d-flex justify-content-between"><h1 style="font-family:Hiragino Sans;">予約一覧</h1> <p style="font-family:cooper black;">Digma</p></section>
    <ul class="list-inline">
    <li class="list-inline-item list-unstyled"><span class=" col-sm-1 bg-success"></span><p>未来の予約</p></li>
    <li class="list-inline-item list-unstyled"><span class=" col-sm-1 bg-secondary"></span><p>過去の予約</p></li>
    </ul>
</div>

<div class="col-sm-10 offset-sm-1 adminside_index pt-4">
<% @adminside_reservations.each do |adminside_reservation|%>
    <div class="card-slidein row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative br-20 bg-light">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="col-sm-5 d-inline-block mb-2 text-secondary border-bottom border-dark"><span><i class="fas fa-user-check pr-5"></i></span> 予約者氏名: <%=adminside_reservation.name%> 様</strong>
          <strong class=" col-sm-5 5d-inline-block mb-2 text-dark border-bottom border-dark"><span><i class="fas fa-user-friends pr-5"></i></span> 参加予定人数: <%=adminside_reservation.participants%> 名</strong>
           <%if adminside_reservation.start_date < Date.today%>
           <div>商品名: <h4 class="col-md-10 mb-0 bg-secondary border border-dark rounded p-1"><%=adminside_reservation.package.package_name%> </h3> </div>
           <%else%>
           <div>商品名: <h4 class="col-md-10 mb-0 bg-success border border-dark rounded p-1"><%=adminside_reservation.package.package_name%> </h3> </div>
           <%end%>
       <p class="mb-auto text-mute"> <span><i class="far fa-clock pr-2"></i></span>  予約出発日-時間 : <%= adminside_reservation.start_date.to_s(:datetime_jp) %>  から</p>
        <p class="mb-auto text-mute"><span><i class="fas fa-clock pr-2"></i></span>  予約終了日-時間：<%= adminside_reservation.end_date.to_s(:datetime_jp) %>  まで</p>
            <%=link_to "詳細を確認する...", adminside_show_reservation_path(adminside_reservation.id), class: "stretched-link" %>
        </div>
        
        <div class="p-3">
           <%if adminside_reservation.paid == true%>
            <p style="font-family:cooper black;"><i class="fas fa-check-square fa-lg pr-2"></i>Digma</p>
            <%else%>
            <p style="font-family:cooper black;"><i class="far fa-square fa-lg pr-2"></i>Digma</p>
            <%end%>
       </div>

  </div>
  <%end%>
</div>

  <%end%>

