<div class="bg-light p-5">
      <div class="text-center">
        <h2>予約申請フォーム</h2>
        <p class="lead">下記、必要項目を全て入力してください</p>
      </div>

          <h4 class="mb-3">予約申込内容　</h4>
            <%= form_with(model: [@package, @reservation], url: package_reservations_confirmation_path, method: :post, local: true) do |f|%>
            <%@package=Package.find(params[:package_id])%>
            <%= f.hidden_field :package_id, value: @package.id %>
            
            <div class="col-sm-6 mb-3 form-group">
                <%=f.label :name, "氏名を記載してください" %>
                <%=f.text_field :name, class: "form-control" %>
            </div>
              
            <div class="col-sm-10 mb-3 form-group">
                 <%=f.label :start_date, "利用日時を選択してください" %><br>
            <section class="time-select">
              <%=raw sprintf( f.datetime_select(:start_date, start_hour: 8, end_hour: 20, minute_step: 15, date_separator: "%s", datetime_separator: '%s'), '年 ', '月 ', '日　')%>
              </section>
            </div>
              
            <div class="col-sm-10 mb-4 form-group">
                <%=f.label :end_date, "終了日時を選択してください。（当日終了の場合は同じ日付を選択してください）" %><br>
            <section class="time-select">
              <%=raw sprintf( f.datetime_select(:end_date, start_hour: 8, end_hour: 20, minute_step: 15, date_separator: "%s", datetime_separator: '%s'), '年 ', '月 ', '日　')%>
              </section>
            </div>
              
            <div class="col-sm-6 mb-3 form-group">
                 <%=f.label :participants, "予約人数を記載してください" %>
                <%=f.number_field :participants, class: "form-control" %>
            </div>
              
            <div class="col-sm-6 mb-3 form-group">
                 <%=f.label :reservation_email, "Eメールアドレスを入力してください" %>
                <%=f.email_field :reservation_email ,class: "form-control" %>
            </div>

            <div class="col-sm-6 mb-3 form-group">
                <%=f.label :user_phone, "電話番号を入力してください" %>
                <%=f.number_field :user_phone, class: "form-control" %>
            </div>
            
            <div class="mb-4 form-group">
                <%=f.label :other_request, "その他ご希望がございましたら自由にご記載ください。（メールにてご返信させていただきます）" %>
                <%=f.text_area :other_request, class: "form-control" %>
            </div>
            
            <div class="mb-3 form-group">
                <%=f.submit "予約する", class: "btn btn-info" %>
            </div>

           <%end%>
           
 </div>

    