<header class="mb-5">
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <span style="font-family: cooper black;"> <%=link_to "DIGMA", root_path, class: "navbar-brand pr-5" %></span>

     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
     </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" style="font-family: Hiragino Sans;">
            <% if user_signed_in? %>
           <li class="nav-itemp"><%= link_to current_user.username, user_path(current_user.id), class: "nav-link" %></li>
           <li class="nav-item"> <%= link_to "ユーザー情報",user_about_user_path(current_user.id) , class: "nav-link" %></li>
           <li class="nav-item"> <%= link_to "ユーザー登録情報編集", edit_user_registration_path , class: "nav-link"%></li>
           <li class="nav-item"><%= link_to "予約の確認", reservations_path, class: "nav-link" %></li>
           <li class="nav-item"><%= link_to "施設一覧から探す", admins_path, class: "nav-link" %></li> 
           <li class="nav-item"><%= link_to "商品カテゴリから探す", search_bycategory_admins_path, class: "nav-link"%></li>
           <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "本当にログアウトしますか？" }, class: "nav-link" %> </li>

           <% elsif admin_signed_in? %>
           <li class="nav-item"><%= link_to current_admin.admins_name, admin_path(current_admin.id), class: "nav-link" %></li>
           <li class="nav-item"><%=link_to "商品作成ページ", new_package_path, class: "nav-link" %> </li>
           <li class="nav-item"><%=link_to "商品一覧ページ", packs_index_admin_path(current_admin.id), class: "nav-link" %> </li>
           <li class="nav-item"><%= link_to "予約の確認", adminside_index_reservations_path, class: "nav-link" %></li>
           <li class="nav-item"> <%= link_to "施設情報の登録・編集", profile_edit_path , class: "nav-link"%></li>
           <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "本当にログアウトしますか?" }, class: "nav-link" %> </li>
           <% end %>
           
           <% unless signed_in? %>
           <li class="nav-item"> <%= link_to "新規登録", new_user_registration_path, class: "nav-link"%></li>
           <li class="nav-item"><%=link_to "ログイン", new_user_session_path, class: "nav-link" %> </li>
           <li class="nav-item"> <%= link_to "施設/事業者側--新規登録画面", new_admin_registration_path, class: "nav-link"%></li>
           <li class="nav-item"><%=link_to "施設/事業者側--ログイン", new_admin_session_path, class: "nav-link" %> </li>

             <% end %>
        </ul>
        
     </div>
    </nav>

</header>
      